body{
    margin: 0;
}

/* O style é o titulo do elemento*/
h1{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serifgit add

}

/* Esse é o style do cabeçalho*/
header{
    background-color: #002352;
    display: flex;
    justify-content: space-between; /* Só funciona com display flex. */
    padding: 2%;

}

#box-categorias button{
    background-color:#4caf50;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    border-radius: 5px
}

#box-ordenar button{
    background-color:#6765d8;
    padding: 10px;
    border: 0;
    color: #fff;
    border-radius: 5px
}